<h2>Login</h2>

<form action="<%= url :sessions %>" method="post">
  <fieldset>
    <p>
      <label for="login">Login</label>
      <input type="text" name="login"/>
    </p>
    <p>  
      <label for="password">Password</label>
      <input type="password" name="password"/>
    </p>
    <p class="buttons">
      <input type="submit" value="Login" class="button" />
    </p>
  </fieldset>
</form>

<p>
  Forgot your password? Click <%= link_to 'here', url(:password_reset) %>
</p>