<h1>Login</h1>

<form action="<%= url :sessions %>" method="post">
  <p>
    <label for="login">Login</label>
    <input type="text" name="login"/>
  </p>
  <p>  
    <label for="password">Password</label>
    <input type="password" name="password"/>
  </p>
  <p>
    <label for="password">&nbsp;</label>
    <input type="submit" value="Login">
  </p>
</form>

<p>
  <br/>
  Forgot your password? Click <%= link_to 'here', url(:password_reset) %>
</p>