/* common elements */
fieldset label {
  width:80px;
  margin-right:10px;
  text-align:right;
  line-height:24px;
  display:block;
  float:left;
}

fieldset input {
  display:block;
  float:left;
  border:1px solid #ccc;
  color:#888;
  line-height:24px;
  font-size:14px;
  height:24px;
  background:#fff url(/images/input-text-bg.png) 0 0 repeat-x;
}

fieldset input:focus, fieldset input.focus {
  border:1px solid #222;
  color:#222;
}

fieldset p:after {
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}

fieldset p {
    display:inline-block;
}

fieldset p {
    display:block;
    min-height:0;
    margin-bottom:10px;
}

fieldset .description {
  padding-left:90px;
  font-size:11px;
  display:block;
  clear:both;
  font-style:italic;
}

* html .clearfix {
    height:1px;
}

fieldset p.buttons {
  padding-left:90px;
  line-height: 24px;
}

fieldset p.buttons .button {
  margin-right:5px;
}

.button {
  background:#afbe09 url(/images/button.png) 0 0 repeat-x;
  line-height:16px;
  height:24px;
  border:1px solid #95a208;
  color:#444;
  font-size:11px;
  font-weight:900;
  text-transform:uppercase;
}

form input.error, form textarea.error  {
  border: 1px solid red;
}

label.radio {
  width: auto;
}

.add_criterium img {
}

.remove_criterium {
  display: none;
}

.add_criterium {
  display: none;
}

table.ui-datepicker td.ui-datepicker-current-day a {
  background: white;
  font-weight: bold;
}

table#activities {
  width: 100%;
}

table.list th {
  background-color: #C1E1FF;
  font-weight: bold;
}

table.list td, table.list th {
  padding: 8px;
}

table.list tr.odd td {
}

table.list tr.even td {
  background-color: #EEEEEE;
}

table.list td.summary {
  background-color: #C1E1FF;
  font-weight: bold;
}

table.list .right {
  text-align: right;
  width: 50px;
}

p.selection {
  font-weight: bold;
}

#add_activity p.buttons {
  line-height: 24px;
  margin-left: 90px;
  padding-left: 0px;
}

span.radiobuttons {
  float:left;
  display:block;
}

span.radiobuttons label {
  width: auto;
}
span.radiobuttons input {
  clear:left;
}
#cancel_add_activity {
  color: #C1E1FF;
}

table.list td.checkbox, table.list th.checkbox {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}

#secondary .text, #secondary .password {
  width: 160px;
}

div.error {
  margin-bottom: 20px;
}

#activities_filter select {
  width: 160px;
}