/* common elements */
fieldset legend {
  display:block;
  margin:10px 0;
  padding:0;
  font-weight:900;
}
fieldset label {
  text-align:right;
  line-height:16px;
  display:block;
  float:left;
  width:80px;
  margin:1px 10px 2px 2px;
}
#account-settings label, #account-settings .options span {
  width:126px;
  margin:1px 10px 2px 2px;
}
#account-settings .options span {
  float:left;
  display:block;
}
#account-settings .options label {
  text-align:left;
  width:auto;
}
#account-settings .buttons {
  margin-left:138px;
}
fieldset span.static_text {
  line-height:18px;
}
fieldset input, fieldset textarea {
  margin: 1px 2px;
  display:block;
  float:left;
  border:1px solid #ccc;
  color:#888;
  font-size:14px;
  background:#fff url(/images/input-text-bg.png) 0 0 repeat-x;
  font-family:'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,sans-serif;
}
fieldset textarea {
  font-size:12px;
  line-height:16px;
  width:184px;
}
fieldset input:focus, fieldset input.focus, fieldset textarea:focus, fieldset textarea.focus {
  border:1px solid #222;
  color:#222;
}
fieldset p:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
fieldset p {
  display:inline-block;
}
fieldset p {
  display:block;
  min-height:0;
  margin-bottom:10px;
}
fieldset .description {
  padding-left:90px;
  font-size:11px;
  display:block;
  clear:both;
  font-style:italic;
}
* html .clearfix {
  height:1px;
}
fieldset p.buttons {
  margin:10px 0 0 92px;
  line-height: 24px;
}
fieldset p.buttons .button {
  margin-right:5px;
  padding: 0 5px;
}
.button {
  background:#afbe09 url(/images/button.png) 0 0 repeat-x;
  line-height:16px;
  height:24px;
  border:1px solid #95a208;
  color:#444;
  font-size:11px;
  font-weight:900;
  text-transform:uppercase;
}
form input.error, form textarea.error  {
  border: 1px solid #ff0000;
  color:#ff0000;
  background:#ffefef;
}
#project_form .activity_types a.toggler {
  margin-bottom: 10px;
}
#project_form .activity_types input[type=checkbox] {
  margin-right: 5px;
}
#project_form .activity_types li {
  margin-top: 5px;
  padding: 1px;
}
#project_form .activity_types ul {
  margin: 0 10px 5px 0;
}
#project_form .activity_types ul li ul {
  margin-left: 15px;
}
#project_form .activity_types {
  border: solid 1px #aaa;
  padding: 10px;
}
label.radio {
  width: auto;
}
.add_criterium img {
}
.remove_criterium {
  display: none;
}
.add_criterium {
  display: none;
}
p.selection {
  font-weight: bold;
}
#add_activity p.buttons {
  line-height: 24px;
  margin-left: 90px;
  padding-left: 0px;
}
.radiobuttons {
  display:block;
  float:left;
}
.radiobuttons input {
  clear:left;
}
.radiobuttons label {
  width: auto;
  text-align:left;
  float:left;
}
#close_activity_form {
  color: #C1E1FF;
}
#secondary .text, #secondary .password {
  width: 160px;
}
div.error {
  margin-bottom: 20px;
}
#activities_filter select {
  width: 150px;
}
label.error {
  font-size:11px;
  width:auto;
  color:#ff0000;
}
#add_activity label.error {
  color:#ffaaaa;
  padding-left:20px;
}
#add_activity input, #add_activity select, #add_activity textarea {
  width:250px;
}
#add_activity textarea, #TB_ajaxContent textarea {
  height:120px;
}
#TB_ajaxContent textarea {
  width:250px;
}
#add_activity input.button {
  width:auto;
}
#add_activity input.datepicker {
  width: 232px;
}
span.recent_days label, span.date_formats label {
  width: auto;
}
p.forgot {
  margin-top: 40px;
}
p.remember {
  padding-left: 90px;
}
p.remember label {
  width: auto;
}
