body {
  margin: 0 0;
  background-color: #dddddd;
  color: #555;
  font-family: 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:900;
  margin-bottom:20px;
}

h2 {
  color: #083056;
  font-size:24px;
}

h3 {
  color: #0c457c;
  font-size:16px;
}

.clearfix:after {
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}

.clearfix {
    display:inline-block;
}

.clearfix {
    display:block;
}

* html .clearfix {
    height:1px;
}

/* common elements */
.hidden {
  display:none;
  visibility:hidden;
}

.box {
  background:#eee;
  border:1px solid #ddd;
  padding:10px;
}

h1.logo {
  margin:0 0 0 -70px;
  height:100px;
}

a {
  color:#0f5ba3;
  text-decoration:underline;
}

a:hover {
  color:#0b3f6f;
  text-decoration:none;
}