body {
  margin: 0 0;
  background-color: #dddddd;
  color: #555;
  font-family: 'Lucida Grande','Lucida Sans Unicode',Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:900;
  margin-bottom:20px;
}

h2 {
  color: #083056;
  font-size:24px;
}

h3 {
  color: #0c457c;
  font-size:16px;
}

.clearfix:after {
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden;
}

.clearfix {
    display:inline-block;
}

.clearfix {
    display:block;
}

* html .clearfix {
    height:1px;
}

/* common elements */
.box {
  background:#eee;
  border:1px solid #ddd;
  padding:10px;
}

h1.logo {
  position:absolute;
  top:0;
  left:-70px;
}

/* layout */
.wrapper {
  width:960px;
  margin:0 auto;
}

#header {
  background:url(/images/header.png) 0 0 repeat-x;
  height: 140px;
}

#header .wrapper {
  position:relative;
}

#content {
  width:920px;
  background:#fff url(/images/bottom.png) bottom center no-repeat;
  padding:20px 20px 45px 20px;
  color:#444;
  font-size:12px;
}

#primary {
  float:left;
  width:620px;
}

#secondary {
  width:300px;
  float:left;
}