table.ui-datepicker td.ui-datepicker-current-day a {
  background: white;
  font-weight: bold;
}

table.wide {
  width: 100%;
}

table.list {
  margin-bottom: 40px;
}

table.list th {
  background-color: #C1E1FF;
  font-weight: bold;
}

table.list td, table.list th {
  padding: 7px;
}

table.list tr.odd td {
  background-color: white;
}

table.list tr.even td {
  background-color: #EEEEEE;
}

table.list tr.hovered td {
  background-color: #F7F7F7;
}

table.list td.summary {
  background-color: #C1E1FF;
  font-weight: bold;
}

table.list .right {
  text-align: right;
  width: 50px;
}

table.list td.checkbox, table.list th.checkbox {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}

table#calendar { 
  border: 1px solid #888;
  border-collapse: collapse;
  margin:10px auto;
}

table#calendar thead tr.month_name {
  background:url(/images/header.png) 0 -100px repeat-x;
  color:#fff;
}

table#calendar thead tr.month_name th {
  padding:5px;
}

table#calendar thead tr.day_name {
  background:url(/images/header.png) 0 -140px repeat-x;
}

table#calendar thead tr.day_name th {
  width:70px;
  padding:5px;
}

table#calendar tbody td {
  border: 1px solid #ddd;
  padding:5px;
  width:70px;
}

table#calendar .other_month {
  text-align:right;
  background:#fff;
  color:#ddd;
}

table#calendar .day_of_the_month {
  text-align:right;
  color:#888;
}

table#calendar .activities {
  padding: 4px;
}

table#calendar a.add_activity {
  display: block;
  text-align:center;
  text-decoration:none;
  background:url(/images/icons/plus.png) center no-repeat;
  padding-top: 8px;
  font-size:11px;
}
table#calendar .month_name th {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 3px;
}

table#calendar {
  width:100%;
}

table#calendar td {
  height:80px;
}

table#calendar .activity {
  font-size:11px;
}

table#calendar .activity strong {
  font-weight:900;
}

table#calendar a.add_activity {
  text-indent:-999em;
}

table#calendar thead a {
  font-size:11px;
  line-height:20px;
  color:#fff;
}

table#calendar thead span.date {
  margin:0 40px;
}

#activitites_for_day { 
  margin-left:20px;
}

table.activities {
  margin:20px 0;
}

tr.comments {
}

tr.comments td {
  border-top: 1px solid #EEEEEE;
  padding-left: 23px;
}

th.icons {
  width: 60px;
}

span.activity_icons {
  display: none;
}
}