body {
  margin: 0 0;
  background-color: #dddddd;
  color: #333;
  font-family: 'Lucida Grande';
}

h1 {
  color: #0b2e4c;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Lucida Grande';
}

h2 {
  color: #20407b;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Lucida Grande';
}

.clear {
  clear: both;
}

#header {
  background-image: url(/images/tmp/header.png);
  background-color: #0b3f6f;
  background-repeat: no-repeat;
  height: 100px;
}

#menubar {
  background-image: url(/images/tmp/menubar.png);
  height: 41px;
}

#content {
  margin: 0 120px 0 120px;
  background-color: white;
  padding: 40px;
}

#left_column {
  float: left;
}

#right_column {
  float: right;
  width: 300px;
}

div.error {
  margin-bottom: 15px;
}

#flash {
  font-weight: bold;
}

#flash .error {
  color: red;
}

#flash .notice {
  color: blue;
}

#userinfo {
  width: 400px;
  float: right;
  color: white;
  margin: 10px 10px 0px 0px;
}

#userinfo a {
  color: white;
  background-color: transparent;
}
