div.error {
  margin-bottom: 15px;
}

#flash {
  font-weight: bold;
}

#flash .error {
  color: red;
}

#flash .notice {
  color: blue;
}

#userinfo {
  width: 400px;
  float: right;
  color: white;
  margin: 10px 10px 0px 0px;
}

#userinfo a {
  color: white;
  background-color: transparent;
}

p span.description {
  font-style: italic;
  color: #555;
  font-size: 8pt;
}
