<h1>Password reset</h1>
<p>
  If you have forgotten your Rubytime credentials please enter your e-mail address and we will send you password reset link.
</p>
<%= form :action => "" do %>
  <fieldset>
    <p>
      <%= text_field :name => "email", :label => "E-mail" %>
    </p>
    <p class="buttons">
      <%= submit "Submit", :class => "button" %>
    </p>
  </fieldset>
<% end =%>