<h1>List of clients</h1>
<table class="list">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Active</th>
    <th></th>
  </tr>
  <%= partial :client, :with => @clients %>
</table>

<%= link_to "Create new client", url(:new_client) %>