<h1>Clients:</h1>
<table>
  <tr>
    <td>Name</td>
    <td>Email</td>
    <td>Active</td>
  </tr>
  <%= partial :client, :with => @clients %>
</table>

<%= link_to "Create new client", url(:new_client) %>