<% content_for :secondary, render('new_client') %>

<h1>List of clients</h1>

<table class="list wide">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Active</th>
    <th class="icons"></th>
  </tr>

  <%= render @clients %>
</table>
