<% if session.user %>
  <dt>Welcome, <%= h session.user.name %></dt>
  <dd>
    <ul>
      <li><%= link_to 'Preferences', url(:user_settings, session.user.id) %></li>
      <li><%= link_to 'Logout', url(:logout) %></li>
    </ul>
  </dd>
<% end %>
