<% if current_user %>
  <dt>Welcome, <%= current_user.name %></dt>
  <dd>
    <ul>
      <li><%= link_to 'Preferences', '' %></li>
      <li><%= link_to 'Logout', url(:logout) %></li>
    </ul>
  </dd>
<% end %>
