<% if current_user %>
  <dt>Welcome, <%= current_user.name %></dt>
  <dd>
    <ul>
      <li><%= link_to 'Preferences', url(:settings, current_user.id) %></li>
      <li><%= link_to 'Logout', url(:logout) %></li>
    </ul>
  </dd>
<% end %>
