<h1>List of projects</h1>

<% if @projects.empty? %>
  No projects.
<% else %>
  <% @projects.each do |project| %>
    <p><%= project.name %></p>
  <% end %>
<% end %>

<p>
  <%= link_to 'Create new project', url(:new_project) %>
</p>