<h1>List of projects</h1>

<% if @projects.empty? %>
  No projects.
<% else %>
  <table id="projects">
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= link_to 'Edit', url(:edit_project, project) %> | <%= link_to 'Remove', url(:project, project), :class => :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<p>
  <%= link_to 'Create new project', url(:new_project) %>
</p>
