<% throw_content :secondary, partial(:new_project) %>
<h1>List of projects</h1>

<% if @projects.empty? %>
  No projects found.
<% else %>
  <table id="projects" class="list">
  <tr>
    <th>Name</th>
    <th>Client</th>
    <th></th>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.client.name %></td>
      <td>
        <%= link_to 'Edit', resource(project, :edit) %> | 
        <%= link_to image_tag("icons/cross.png", :title => "Remove"), resource(project), :class => "delete_row" %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
