---
development: &defaults
  adapter:  mysql
  database: rubytime3_dev
  username: root
  password: 
  host: localhost
  encoding: utf8

test:
  <<:       *defaults
  database: rubytime3_test

production:
  <<:       *defaults
  database: rubytime3_prod
