set :application, "rubytime-demo"
set :deploy_to, "/home/someuser/rubytime-demo"
set :repository, 'git://github.com/LunarLogicPolska/rubytime.git'
set :revision, "origin/master"
set :user, "someuser"
set :domain, "someuser@somehost.com"
set :use_sudo, false
set :merb_env, 'staging'

task :production do
  set :application, "rubytime"
  set :merb_env, 'production'
  set :deploy_to, "/home/someuser/rubytime3"
  set :user, "someuser"
  set :domain, "someuser@somehost.com"
end

namespace :vlad do
  remote_task :symlink_configs, :roles => [:app] do
    run "ln -s #{shared_path}/config/database.yml #{current_path}/config/database.yml"
    run "ln -s #{shared_path}/config/local_config.rb #{current_path}/config/local_config.rb"
  end

  remote_task :build_asset_bundles do
    run "juicer merge #{current_path}/public/stylesheets/master.css -d #{current_path}/public"
  end
  
  task :deploy => [ 'vlad:update', 'vlad:symlink_configs', 'vlad:build_asset_bundles', 'vlad:start_app']
  task :deploy_with_migrations => [ 'vlad:update', 'vlad:symlink_configs', 'vlad:build_asset_bundles', 'db:migrate', 'vlad:start_app']
  task :deploy_with_autoupgrade => [ 'vlad:update', 'vlad:symlink_configs', 'vlad:build_asset_bundles', 'db:autoupgrade', 'vlad:start_app']
end
