<h1>Create new role</h1>
<%= form_for @role, :action => resource(@role.id ? @role : :roles), :id => "role_form" do %>
  <fieldset>
    <p>
      <%= text_field :name, :label => "Name" %>
    </p>
    <p>
      <%= check_box :can_manage_financial_data, :label => "Can manage financial data" %>
    </p>
    <p class="buttons">
      <%= submit 'Create', :class => "button" %>
    </p>
  </fieldset>
<% end =%>
