<h1>Edit role</h1>
<%= form_for @role, :action => resource(@role), :id => "role_form" do %>
  <fieldset>
    <p>
      <%= text_field :name, :label => "Name", :disabled => true %>
    </p>
    <p>
      <label for="role_can_manage_financial_data">Can manage financial data</label>
      <%= check_box :can_manage_financial_data %>
    </p>
    <p class="buttons">
      <%= submit 'Update', :class => "button" %>
    </p>
  </fieldset>
<% end =%>
