<% throw_content :secondary, partial(:new_role) %>
<h1>List of employees' roles</h1>

<% if @roles.empty? %>
  No roles found.
<% else %>
  <table id="roles" class="list wide">
  <tr>
    <th>Name</th>
    <th class="icons"></th>
  </tr>
  <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td><%= link_to image_tag("icons/cross.png", :title => "Remove", :alt => "Remove"), resource(role), :class => "delete_row" %></td>
    </tr>
  <% end %>
  </table>
<% end %>

