<% collection = @search_criteria.send(group.to_s.pluralize).map { |c| [c.id, c.name] } %>
<% @search_criteria.send("#{group}_id").size.times do |i| %>
  <p class="<%= group %>">
    <%= select :"#{group}_id_#{i}", :label => group.to_s.camel_case, :class => "#{group}_combo", 
                                  :collection => collection, :prompt => "All" %>
    <%= link_to(image_tag("icons/minus.png"), "#", :class => "remove_criterium") %>
    <%= link_to(image_tag("icons/plus.png"), "#", :class => "add_criterium") %> 
  </p>
<% end %>
