<ul class="clients">
<% clients.each do |client| %>
  <li class="client">
    <%= partial("activities/grouped_projects", :projects => unique_projects_from(@activities, client), :client => client) %>
    <strong class="total">Total for client: <%= total_from(activities_from(@activities, client)) %></strong>
  </li>
<% end %>
<ul>
