<table class="roles list wide">
  <tr>
    <th>Role</th>
    <th>Hours</th>
    <th>Price</th>
  </tr>
  
  <% roles.map{|role| RoleActivitiesInProjectSummary.new(role, activities_from(@activities, client, project, role))}.each do |summary| %>
    <tr>
      <td><%= summary.role.name %></td>
      <td><%= summary.billable_time %></td>
      <td><%= summary.price %></td>
    </tr>
  <% end %>
</table>
